<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Blog - Nagy Bianka</title>
    <%= stylesheet_link_tag 'base' %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag '720_grid' %>
    <![endif]-->
    <%= stylesheet_link_tag '720_grid',  :media => 'screen and (min-width: 720px)' %>
    <%= stylesheet_link_tag '986_grid',  :media => 'screen and (min-width: 986px)' %>
    <%= stylesheet_link_tag '1236_grid', :media => 'screen and (min-width: 1236px)' %>
    <%= stylesheet_link_tag 'default' %>
    <%= stylesheet_link_tag 'ss-social' %>
    <%= stylesheet_link_tag 'ss-standard' %>

    <link href='/favicon.ico' rel='shortcut icon'>
    <link href="/feed.xml" rel="alternate" title="Nagy Bianka's RSS feed" type="application/atom+xml" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <meta content='Blog - Nagy Bianka' name='DC.Title' />
    <meta content='Nagy Bianka' name='DC.Creator' />
    <meta content='en' name='DC.Language' />
    <meta content='text/html' name='DC.Format' />
  </head>
  <body>
    <div class='grid' role='main'>
      <div class='banner-wrapper'>
        <header class='row'>
          <div class='slot-0-1-2-3'>
            <h1>Nagy Bianka</h1>
          </div>
          <div class='slot-4-5'>
            <ul class='ss-icon ss-social social'>
              <li>
                <a href='/contact/new' title='Contact me'>Mail</a>
              </li>
              <li>
                <a href='https://twitter.com/nagybianka' title='Follow me on Twitter'>Twitter</a>
              </li>
              <li>
                <a href='#' title='Follow me on Pinterest'>Pinterest</a>
              </li>
            </ul>
          </div>
        </header>
      </div>
      <div class='row'>
        <div class='slot-0-1-2-3'>
          <%= yield %>
        </div>
        <div class='slot-4-5'>
          <aside>
            <section class="">
              <h1>About</h1>
              <p>Something about Nagy Bianka.</p>
            </section>
            <section class="archive">
              <h1>Archive</h1>
              <ol>
                <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                  <li>
                    <%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a>
                  </li>
                <% end %>
              </ol>
            </section>
          </aside>
        </div>
      </div>
      <footer class='row' id='last-row'>
        &copy; Nagy Bianka &mdash; 2009
      </footer>
    </div>
  </body>
</html>
